<div class="buysection">
	<div class="buycontainer-1 d-container">
		<div class="embed">
			<table style="width:100%">
				<tr>
					<th class="headingtable">Artist</th>
					<th class="headingtable">Album</th>
				</tr>
				<tr>
					<th class="artistheadingbuy" rowspan="4">Blvck Ceiling</th>
					<td>Manga Carta<iframe class="buyplayer" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=143610600/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://blvckceiling.bandcamp.com/album/magna-carta">Magna Carta by BLVCK CEILING</a></iframe></td>
				</tr>
				<tr>
					<td>Close<iframe class="buyplayer" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=430797008/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://blvckceiling.bandcamp.com/album/close">close by BLVCK CEILING</a></iframe></td>
				</tr>
				<tr>
					<td>TEENWVFF <iframe class="buyplayer" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2516125560/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://blvckceiling.bandcamp.com/album/teenwvff">TEENWVFF by BLVCK CEILING</a></iframe></td>
				</tr>
				<tr>
					<td>Flowers <iframe class="buyplayer" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=718171528/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://blvckceiling.bandcamp.com/album/flowers">Flowers by BLVCK CEILING</a></iframe></td>
				</tr>
				<tr>
					<th class="artistheadingbuy depressed" rowspan="4">DEPRESSED040</th>
					<td>Failure <iframe class="buyplayer" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=2329344057/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://depressed040.bandcamp.com/track/failure">Failure by D E P R E S S E D 0 4 0</a></iframe></td>
				</tr>
				<tr>
					<td>DÖDSKULT <iframe class="buyplayer" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2003354627/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://depressed040.bandcamp.com/album/d-dskult">DÖDSKULT by D E P R E S S E D 0 4 0</a></iframe></td>
				</tr>
				<tr>
					<td>VOID <iframe class="buyplayer" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1144241136/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://depressed040.bandcamp.com/album/void">VOID by D E P R E S S E D 0 4 0</a></iframe></td>
				</tr>
				<tr>
					<td>HEARTBREAKER <iframe class="buyplayer" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=1809098745/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://depressed040.bandcamp.com/track/heartbreaker">HEARTBREAKER by D E P R E S S E D 0 4 0</a></iframe></td>
				</tr>
				<tr>
					<th class="artistheadingbuy" rowspan="4">Sadwrist</th>
					<td>.​.​. the worst of soundcloud vol. I​/​II <iframe class="buyplayer" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2866422210/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://sadwrist.bandcamp.com/album/the-worst-of-soundcloud-vol-i-ii">... the worst of soundcloud vol. I/II by SADWRIST</a></iframe></td>
				</tr>
				<tr>
					<td>.​​.​​. the worst of soundcloud vol. 333​/​IV <iframe class="buyplayer" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=269307343/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://sadwrist.bandcamp.com/album/the-worst-of-soundcloud-vol-333-iv">.​.​. the worst of soundcloud vol. 333/IV by SADWRIST</a></iframe></td>
				</tr>
				<tr>
					<td>-１ ＥＰ <iframe class="buyplayer" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2317170033/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://sadwrist.bandcamp.com/album/--2">-１ ＥＰ by SADWRIST</a></iframe></td>
				</tr>
				<tr>
					<td>ａｍｏｋ ⪻ ⟡ ⪼ ｋｏｍａ <iframe class="buyplayer" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=3574112270/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://sadwrist.bandcamp.com/track/--21">ａｍｏｋ ⪻ ⟡ ⪼ ｋｏｍａ by SADWRIST</a></iframe></td>
				</tr>
			</table>
		</div>
	</div>
</div>
