<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>DeadNoiseFM</title>
		<meta content="width=device-width, initial-scale=1" name="viewport">

		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<link href="../css/home-style.css" rel="stylesheet" type="text/css">
		<link href="../css/play-style.css" rel="stylesheet" type="text/css">

	</head>
	<body>
		<div class="flexparent">
			<div class="topimage"></div>
			<div class="navbar-2">
			<div class="container-fullwidth container-8">
				<nav class="navbar navbar-default navbar-right" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
    				</button>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
      				<li><a class="nav-link w-nav-link" href="../index.html">Home</a></li>
							<li><a class="nav-link w-nav-link" href="play.html">Play</a></li>
							<li><a class="nav-link w-nav-link" href="buy.html">Buy</a></li>
							<li><a class="nav-link w-nav-link" href="#">Subscribe</a></li>
    				</ul>
					</div>
				</div>
			</nav>
		</div>
		</div>
		<div class="buysection">
			<div class="buycontainer-1 w-container">
				<div class="w-embed">
					<table style="width:100%">
						<tr>
							<th>Artist</th>
							<th>Album</th>
							<th>Buy</th>
						</tr>
						<tr>
							<th rowspan="4">Blvck Ceiling</th>
							<td>Manga Carta</td>
							<td>BC</td>
						</tr>
						<tr>
							<td>ph</td>
							<td>BC</td>
						</tr>
						<tr>
							<td>ph</td>
							<td>BC</td>
						</tr>
						<tr>
							<td>ph</td>
							<td>BC</td>
						</tr>
						<tr>
							<th rowspan="4">DEPRESSED040</th>
							<td>ph</td>
							<td>BC</td>
						</tr>
						<tr>
							<td>ph</td>
							<td>BC</td>
						</tr>
						<tr>
							<td>ph</td>
							<td>BC</td>
						</tr>
						<tr>
							<td>ph</td>
							<td>BC</td>
						</tr>
						<tr>
							<th rowspan="4">Sadwrist</th>
							<td>ph</td>
							<td>BC</td>
						</tr>
						<tr>
							<td>ph</td>
							<td>BC</td>
						</tr>
						<tr>
							<td>ph</td>
							<td>BC</td>
						</tr>
						<tr>
							<td>ph</td>
							<td>BC</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
	</body>
</html>
