<div class="aboutushome">
	<div class="aboutcontainer d-container">
		<div class="d-row">
			<div class="aboutrow d-col d-col-4">
				<h1 class="aboutushomehead">ABOUT DNFM</h1>
				<p class="aboutushomepara">DeadNoiseFM is a network promoting dark electronic music. We focus on genres such as, Witch House, Future Garage, Dark Trap, Horrorcore, Techno and many more.</p>
			</div>
			<div class="listenrow d-col d-col-8">
				<h1 class="listenhomehead">LISTEN</h1>
				<div class="homemixvid embed video" style="padding-top: 56.17021276595745%;"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FTCIojbRhBns%3Ffeature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DTCIojbRhBns&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FTCIojbRhBns%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&type=text%2Fhtml&schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe></div>
			</div>
		</div>
	</div>
</div>
<div class="bottomimagecontainer">
	<div class="d-container"><img class="bottomimagegifhand" src="images/giphy-3.gif"></div>
</div>
