<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>DeadNoiseFM</title>
		<meta content="width=device-width, initial-scale=1" name="viewport">

		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
		<link href="../css/home-style.css" rel="stylesheet" type="text/css">
		<link href="../css/play-style.css" rel="stylesheet" type="text/css">

	</head>
	<body>
		<div class="flexparent">
			<div class="topimage"></div>
			<div class="navbar-2">
			<div class="container-fullwidth container-8">
				<nav class="navbar navbar-default navbar-right" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
    				</button>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
      				<li><a class="nav-link w-nav-link" href="../index.html">Home</a></li>
							<li><a class="nav-link w-nav-link" href="templates/play.html">Play</a></li>
							<li><a class="nav-link w-nav-link" href="#">Buy</a></li>
							<li><a class="nav-link w-nav-link" href="#">Subscribe</a></li>
    				</ul>
					</div>
				</div>
			</nav>
		</div>
		</div>
		<div class="playsoundcloud">
      <div class="containersoundcloud w-container">
        <div class="soundcloudhead">
          <h1 class="artistsh1">ARTISTS</h1>
        </div>
        <div class="row2 w-row">
          <div class="blvckceiling w-col w-col-4">
            <div class="blvck-ceiling-head">
              <h1 class="blvckcelingh1">BLVCK CEILING</h1>
            </div>
            <div class="blvckceilingplayer w-embed w-iframe"><iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/43990472&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
          </div>
          <div class="depressed040 w-col w-col-4">
            <div class="depressed040head">
              <h1 class="depressed040h1">DEPRESSED040</h1>
            </div>
            <div class="depressedplayer w-embed w-iframe"><iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/130106670&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
          </div>
          <div class="sadwrist w-col w-col-4">
            <div class="sadwristhead">
              <h1 class="sadrwristh1">SADWRIST</h1>
            </div>
            <div class="w-embed w-iframe"><iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/40085453&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
          </div>
        </div>
      </div>
    </div>
		<div class="playmix">
			<div class="countainermix w-container">
				<div class="mix-head">
					<h1 class="mixh1">MIXES</h1>
				</div>
				<div class="row3 w-row">
					<div class="mix1 w-col w-col-6">
						<div class="w-embed w-video" style="padding-top: 56.17021276595745%;"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FzDmXNcamE_Q%3Ffeature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DzDmXNcamE_Q&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FzDmXNcamE_Q%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&type=text%2Fhtml&schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe></div>
					</div>
					<div class="mix2 w-col w-col-6">
						<div class="w-embed w-video" style="padding-top: 56.17021276595745%;"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F7S7KlccKcsU%3Ffeature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D7S7KlccKcsU&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F7S7KlccKcsU%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&type=text%2Fhtml&schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe></div>
					</div>
				</div>
			</div>
		</div>
		<div class="footerwrapper">
      <div class="div-block-8 w-clearfix"><img class="logofooter w-hidden-tiny" src="../images/logo.png"><img class="facebookiconfooter" src="../images/iconmonstr-facebook-3-240.png" width="40"><img class="twittericonfooter" src="../images/iconmonstr-twitter-3-240.png" width="40"></div>
    </div>
	</div>

		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
	</body>
</html>
